
<html>
<head>
     <style>
         .card
         {
            border:1px solid gray; 
            border-top-width: 20px; 
            padding:5px; 
            width:500px; 
            border-radius:10px;
            margin-bottom: 10px;
         }

         .card h3
         {
            color:white; 
            text-align:center; 
            margin: 0px; 
            margin-top: -25px;
         }
     </style>   
</head>

<body>
    <h3>Developing Web Applications using Express</h3>
    <hr /> 

    <a href="/User/Login">Login</a>
    <a href="/prod/AllProd">Show all Products</a>


    
</body>

</html>